@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');

body{
    margin:0px;
    padding:0px;
    background:linear-gradient(rgba(177, 83, 6, 0.474), rgba(255, 166, 0, 0.693), rgba(255, 68, 0, 0.605))
}
*{
    margin: 0;
    padding:0px;
    box-sizing: border-box;
}
.logo img{
    position:relative;
    width: 105px;
    margin-top: 5px;
}
.menu1{
    display:flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid white;
}
.menu1 ul li{
    display: inline-block;
    list-style: none;
    position: relative;
}
.menu1 ul li a{
    padding: 25px;
    margin-right: 8px;
    font-size: 20px;
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    font-family: "Ubuntu"
}
.menu1 ul li::after{
    content:'';
    bottom: -10px;
    transition: 0.3s;
    background: orange;
    width:0;
    height:3px;
    position: absolute;
    left:0;
}
.menu1 ul li:hover::after{
    width:100%;
}
.menu1 ul li a:hover{
    color: orange;
}











.flexbox {
     margin-top:100px;
     height: 500px;
     width: 90%;
     background: rgb(255, 162, 0);
     border-radius: 120px;
     margin: 0 auto;
     box-shadow: 0px 0px 20px 5px #fc9000;


     
     /* Centrer un unique éléments vertcialement et horizontalement */
     /* display: flex; */
     justify-content: center;
     align-items: center;
}



h1 {
    /* titre principale */
    color:antiquewhite;
    text-align: center;
    font-family: "Ubuntu";
}





h2 {
    /* titre secondaire */
    color:antiquewhite;
    text-align: center;
    font-family: "Inclusive sans";
}

h3 {
    /* texte de corprs */
    color:antiquewhite;
    text-align: center;
    margin: 0, auto;
    font-family: Arial, Helvetica, sans-serif;
}



.titrePrincipale {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 4.5rem;

}
.textePrincipale {
    font-size: 22px;
    margin-left: 10px;
    margin-right: 23px;
}   





.postIntro{
    background-color: rgb(255, 132, 0);
    margin-top: 100px;
    height: 400px;
    border: 3px   solid  #000000;
}

.titrePostIntro{
    text-align: left;
    color:rgb(0, 0, 0);
    margin-top: 50px;
    margin-left: 50px;
    font-size: 35px;
    word-spacing: 2px;

}

.image1 {
    margin-left: 50px;
    border-radius: 10px;
    border: 3px solid  #000000;
    position: absolute;


}

.textePostIntro{
    text-align: left;

    color:rgb(0, 0, 0);
    margin-left: 400px;
    margin-right: 30px;
    font-size: 20px;
    word-spacing: 1px;
}

.titrePays {
    text-align: left;
    color:rgb(255, 255, 255);
    margin-top: 100px;
    margin-left: 50px;
    font-size: 35px;
    word-spacing: 2px;
}

.image2 img{
    margin-top: 0px;
    margin-left: 50px;
    border-radius: 50px;
    border: 3px solid  #ffffff;
    transition: 1s

    
}





.textePays1 {
    position: absolute;
    text-align: left;
    margin-top: -250px;
    color:rgb(255, 255, 255);
    margin-left: 600px;
    margin-right: 30px;
    font-size: 20px;
    word-spacing: 1px;
}

.textePays2 {
    position: absolute;
    margin-top: -150px;

    text-align: left;

    color:rgb(255, 255, 255);
    margin-left: 600px;
    margin-right: 30px;
    font-size: 20px;
    word-spacing: 1px;
}

.textePays3 {
    position: absolute;
    margin-top: -50px;

    text-align: left;

    color:rgb(255, 255, 255);
    margin-left: 600px;
    margin-right: 30px;
    font-size: 20px;
    word-spacing: 1px;
}


.textePays4 {
    position: absolute;
    margin-top: -75px;

    text-align: left;

    color:rgb(255, 255, 255);
    margin-left: 600px;
    margin-right: 30px;
    font-size: 20px;
    word-spacing: 1px;
}

.connexion{
    background-color: rgb(255, 132, 0);
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    height: 250px;
    border: 3px   solid  #000000;
    border-radius: 30px;

}



.texteConnexion {
    text-align: left;

    color:rgb(0, 0, 0);
    margin-left: 50px;
    margin-right: 30px;
    font-size: 20px;
    word-spacing: 1px;
}


.texteCybersecurite {
    text-align: left;

    color:rgb(255, 255, 255);
    margin-left: 50px;
    margin-right: 40%;
    font-size: 20px;
    word-spacing: 1px;
}




.image3 img{
    position: absolute;
    margin-left: 75%;
    margin-top: -220px;
    width: 300px;
    transition: 0.3s;
    border-radius: 30px;
}
.image3 img:hover{
    width: 350px;
    height: 350px;
    margin-left: 75%;
    margin-top: -245px;
    transition: 0.3s
}       
 

.communication{
    background-color: rgb(255, 132, 0);
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
    height: 325px;
    border: 3px   solid  #000000;
    border-radius: 30px;

}

 

.titreCommunication {
    text-align: left;
    color:rgb(0, 0, 0);
    margin-top: 50px;
    margin-left: 50px;
    font-size: 35px;
    word-spacing: 2px;

}

.texteCommunication {
    text-align: left;

    color:rgb(0, 0, 0);
    margin-left: 50px;
    margin-right: 30px;
    font-size: 20px;
    word-spacing: 1px;
}



.objectif{
    background-color: rgb(255, 132, 0);
    margin-top: 100px;
    height: 550px;
    border: 3px   solid  #000000;
}

.titreObjectif{
    text-align: left;
    color:rgb(0, 0, 0);
    margin-top: 50px;
    margin-left: 50px;
    font-size: 35px;
    word-spacing: 2px;

}

.texteObjectif1{
    text-align: left;

    color:rgb(0, 0, 0);
    margin-left: 50px;
    margin-right: 500px;
    font-size: 20px;
    word-spacing: 1px;
}

.image4 {
    margin-left: 75%;
    border-radius: 10px;
    border: 3px solid  #ffffff;
    margin-top: -400px;
}

.texteObjectif2{
    text-align: left;
    margin-top: 20px;
    color:rgb(0, 0, 0);
    margin-left: 500px;
    margin-right: 50px;
    font-size: 20px;
    word-spacing: 1px;
}

.image5 {
    margin-left: 50px;
    border-radius: 10px;
    border: 3px solid  #000000;
    margin-top: -400px;
}



















footer{
    background-color: black;
    height: auto;
    width: 100%;
    padding-top: 40px;
}
.contenu-footer{
    width: 100%;
    padding:10px;
}
.menu-reseau{
    display: flex;
    justify-content: center;
}
.menu-reseau a{
    text-decoration: none;
    margin-inline: 20px;
}
.menu-reseau a i{
    font-size: 2em;
    color: rgb(255, 255, 255);
    opacity: 0.9;
}
.menu-footer{
    margin: 30px;
}
.menu-footer ul{
    display: flex;
    justify-content: center;
}
.menu-footer ul li a{
    color:white;
    margin:20px;
    text-decoration: none;
    font-size:1.3em;
    opacity: 0.7;
    transition: 0.5s;
    font-family:"Ubuntu"
}
.menu-footer ul li a:hover{
    opacity:1
}
.bas-footer{
    background-color: black;
    padding: 20px;
    text-align: center;
}
.bas-footer{
    color: white;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
}
